<div class="dashboard-container">
  <!-- Statistiques globales -->
  <div class="statistics-container">
    <h2>Statistiques globales</h2>
    <p>Nombre total de transactions : {{ totalTransactions }}</p>
  </div>

  <!-- Camembert : Répartition des transactions par type -->
  <div class="chart-container">
    <h3>Répartition des transactions par type</h3>
    <canvas id="pieChart"></canvas>
  </div>

  <!-- Lignes : Évolution des transactions par date -->
  <div class="chart-container">
    <h3>Évolution des transactions par date</h3>
    <div>
      <label>
        <input type="checkbox" [(ngModel)]="showCount" (change)="toggleLineChartVisibility()" />
        Afficher le nombre de transactions
      </label>
      <label>
        <input type="checkbox" [(ngModel)]="showAmount" (change)="toggleLineChartVisibility()" />
        Afficher le montant des transactions
      </label>
    </div>
    <canvas id="lineChartDate"></canvas>
  </div>



  <!-- Barres empilées : Transactions par compte (nombre et montant) pour une date spécifique -->
  <div class="chart-container">
    <h3>Transactions par compte (nombre et montant)</h3>
    <div>
      <label>
        Sélectionnez une date :
        <input type="date" [(ngModel)]="selectedDate" (change)="onDateChange()" />
      </label>
    </div>
    <canvas id="stackedBarChartCompte"></canvas>
  </div>
</div>
